@import "./styleLib.css";
@import "./button.css";
@import "./Home.css";
@import "./nav.css";
@import "./LandPage.css";
@import "./MainHome.css";
@import "./Loader.css";
@import "./Favorite.css";
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #FFFCF3
}

#NotFound_con{
min-height: 100vh;
background-color: #E5E4C0;
width: 100%;
;
display: flex;
justify-content: center;
align-items: center;
}

#notfoundText{
  text-align: center;
  color:#1B1D00 ;
  font: var(--headline4);
  font-family: "commissioner-semibold";
}

a{text-decoration: none;color: inherit;}


::-webkit-scrollbar {
  width: 1px
}

::-webkit-scrollbar-track {
  background-color: transparent
}

::-webkit-scrollbar-thumb {
  background: #888;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
} 

