#LandPage_con{
    
    width: 100% ;
    color: #1B1D00;
    display: flex;
    flex-direction: column;
    justify-content:flex-start  ;
    align-items: flex-start;
    padding: 24px var(--largscale);
    cursor: default;
    background-color: #E5E4C0;
    min-height: 100vh;
    
}


#LandPage_con>*{
    text-align: start;
}

#landPage_head1{
    font: var(--headline1);
    font-family: "Fraunces-ExtraBold";
    padding-top: 2rem;
    
}

#landPage_head2{
    font: var(--headline5);
    font-family: "commissioner-semiBold";
    padding-top: 1.4rem;
    padding-bottom: 2rem;
    line-height: 2.5rem;
}

#getStartBtn{

    padding: 0.5rem 1.7rem;
    font: var(--headline7);
    font-family: "commissioner-semiBold";
}



@media only screen and (max-width:1000px) {

    #LandPage_con{

        padding: 24px var(--mediumscale);

    }
    
    
}



@media only screen and (max-width:500px) {

    #LandPage_con{

        padding: 24px var(--smallscale);

    }


    
    
}